@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Play:wght@400;700&display=swap');

:root{
    --cor0: #FF4C1E;
    --cor1: #ff4c1e;
    --cor2: #0074BC;
    --cor3: #00ABDF;
    --cor4: #FDB951;
    --cor5: #FFD25A;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

main#conteudo{
    margin: auto;
    min-width: 600px;
}

a:hover{
    transition: 0.5s all;
    color: #FF4C1E;
    transform: scale(1.1);
}

.container-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
}

.span-html{
    color: var(--cor0);
}

.span-css{
    color: var(--cor3);
}

.span-js{
    color: var(--cor5);
}

.explicação-html{
    max-width: 400px;
    border:2px solid #FF4C1E;
    padding: 20px;
}

.html{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

div.img-html:hover{
    transform: scale(1.3);
}

.explicação-css{
    max-width: 400px;
    border:2px solid #0074BC;
    padding: 20px;
}

.css{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

div.img-css:hover{
    transform: scale(1.3);
}

.explicação-js{
    max-width: 400px;
    border:2px solid var(--cor5);
    padding: 20px;
}

.js{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
div.img-js:hover{
    transform: scale(1.3);
}

footer{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.footer{
    color: white;
    text-decoration: none;
}